html {
  font-family: "Open Sans", Arial, sans-serif;
}

.body {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
}

.text-center {
  text-align: center;
}

.center-all {
  padding: 5px;
  text-align: center;
}

.partnerContainer {
  display: inline-block;
  flex-direction: row;
  justify-content: center;
  background-color: #e6e6e6;
  border: solid;
  color: black;
}

.partnerDetailsContainer {
  flex-direction: column;
  display: inline-block;
  background-color: #e6e6e6;
  border: solid;
  border-color:  #eeeeee;
  padding: 10px;
}

.certificateContainer {
  display: inline-block;
  background-color: #e6e6e6;
  border: solid;
  border-width: 10px;
  color: black;
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 30px;
  width: 45%;
}

.viewableMessage {
  padding: 10px;
  margin: 10px;
  background-color: white;
  display: inline-block;
  width: 80%;
}

.editablePartnerDetails {
  padding: 2px;
}

.editableMessage {
  padding-top: 20px;
  padding-bottom: 10px;
}

.editableBidValueContainer {
  padding: 10px;
  color: #000000;
}

.createButton {
  padding: 10px;
}

.changeCertTypeButtons {
  padding: 10px;
}

.checkAddressBox {
  padding: 10px;
  border-radius: 4px;
}

.checkAddressContainer {
  padding: 10px;
}

.checkAddressButton {
  padding: 7px;
  border-radius: 4px;
}

.aboutText {
  width: 50%;
  display: inline-block;
}

.topMessage {
  padding: 20px;
}

.createContainer {
  display: inline-block;
  padding: 20px;
  text-align: center;
  justify-content: center;
}